
body {
  margin: 20px
  padding: 25px
  border: 5px solid rgba(76, 67, 59, 0.83);
}

#b {
  color: rgba(76, 67, 59, 0.83);
  font-size: 15pt;
}

.jumbotron {
  height: 420px;
  background-color: rgba(229, 205, 163, 0.55);
}

blockquote {
  margin-top: 240px;
  color: rgba(76, 67, 59, 0.83);
  font-size: 18pt;
}

footer {
  color: rgba(76, 67, 59, 0.83);
}

a {
  color: rgba(76, 67, 59, 0.83);
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14pt;
}


#row-of-3 {
  margin: auto;
}

.col-md-4 {
  height: 350px;
  width: 350px;
}

img {
  float: center;
}

.column {
  width: 300px;
  float: left;
}

.my-class {
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
}

h1 {

  font-size: 32px;
  font-style: italic;
}

.well h3 {

}
